.container {
  display: grid;
  grid-row-gap: 1%;
  padding: 2%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  padding: 2%;
  height: 350px;
}

@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 0.5%;
    grid-row-gap: 0%;
  }
  .formContainer {
    margin-bottom: 30px;
  }
}

.containerPhotoList {
  columns: 100px 1;
}
@media (min-width: 450px) and (max-width: 500px){
  .containerPhotoList {
    columns: 100px 2;
  } 
} 

@media (min-width: 500px) and (max-width: 800px) {
  .containerPhotoList {
    columns: 100px 3;
  } 
} 

@media (min-width: 801px) {
  .containerPhotoList {
    columns: 100px 5;
  }  
}
