.containerModWin {
  position: fixed;
  width: 95%;
  margin: auto;
  left: 0;
  right: 0;
  height: auto;
  z-index: 100;
  bottom: 60px;
  background-color: #546e7a;
  padding: 2%;
  border-radius: 5px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  padding: 2%;
  height: auto;
}

 @media (min-width: 1000px) {
  .containerModWin {
    width: 40%;
    bottom: 15px;
  }  
}


@media (min-width: 500px) and (max-width: 700px) {
  .containerModWin {
    width: 80%;
    bottom: 50px;
  }  
} 
@media (min-width: 700px) and (max-width: 1000px) {
  .containerModWin {
    width: 50%;
  }  
} 