.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.imgProfile {
    display: flex;
}

.infoProfile {
    display: flex;
    flex-direction: column;
}

.iconItem {
    display: flex;
    flex-direction: row;
    justify-content:first baseline;
    align-items: center;
    cursor: pointer;
}

.iconText {
    margin-left: 10px;
}